/* <---home---> */

body {
    margin: 0%;
    margin-left: 30px;
    margin-right: 30px;
    padding: 0%;
    height: 100vh;
    background-image: url(../img/fondoIV.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* background-color: rgb(150, 122, 88); */
    width: 100%;
    margin: 0%;
    padding: 0%;
    padding-bottom: 2%;
    /* background-image: url(../img/fondoIV.jpeg);
    background-repeat: no-repeat;
    background-size: cover; */
}

.mainHome {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100vh;
}



.contenedorBotonesHeader {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.botonesHeader {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    padding-top: 2%;

}

.aBotonesHeader {
    text-decoration: none;
    color: black;
    background-color: white;
    width: 100%;
    height: 20px;
    justify-content: center;
    border-radius: 10px;

}

.liBotonesHeader {
    display: flex;
    flex-wrap: wrap;
    width: 23%;
    text-align: center;
    
}

.contenedorHeader2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin: 2% 0% 0%;

}

.contenedorHomeYBusqueda {
    width: 75%;

}

.formulario {
    display: flex;
    width: 100%;
    justify-content: right;

}

.buscador {
    width: 90%;
    height: 20px;
    border-radius: 10px;
}

.botonBuscar {
    display: flex;
    margin-left: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
}


.contenedorLogo {
    background-color: white;
    display: flex;
    justify-content: center;
    width: 20%;
}

.sectionRecetas {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0%;
    padding: 0%;
}

.articleRecetas {
    display: flex;
    flex-direction: column;
    width: 15%;
    margin: 0%;
    margin-top: 2%;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.727);

}

.botonCargarMas {
    width: 15%;
    height: 60px;
    border-radius: 15px;
    background-color: white;
    margin: 3%;
}

footer {
    background-color: white;
    height: 150px;
    border-top-left-radius:20px ;
    border-top-right-radius:20px ;
margin-top: 15%;
}

/* <---resultadoBusqueda---> */

/* <---detalleReceta---> */


.sectionDetalleRecetas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 1%;
    margin: 0%;
    width: 80%;
    border-radius: 10px;
    font-size: 20px;
    height: 300px;
}

.articleImgReceta {
    width: 27%;
}

.imgReceta {
    width: 100%;
    margin: 0%;

}

.instruccionesDetalleRecetas {
    width: 70%;
   margin: 0%;
}

.contenedorInstrucciones{
    padding-left: 2%;
    
}

.aa{
margin-left: 20px;
}




/* <---detalleCategoria---> */

.recetasDeCategoria{
display: flex;
width: 100%;
flex-wrap: wrap;
flex-direction: row;
justify-content: space-evenly;
}
/*--Login--*/

.formularioLogin{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 50%;
height: 40%;
margin-top: 200px;
background-color: rgba(255, 255, 255, 0.588);
border-radius: 20px;
}
.contenedorInputs{

width: 400px;
}
.tituloInputs{
margin: 0%;
margin-top: 20px;
margin-bottom: 0%;
}

#email{
width: 100%;
margin-top: 0%;
}

#contraseña{
width: 100%;
margin-bottom: 20px;
}

.noTengoCuenta{
margin-top: 20px;
}

/* Categorias*/

.contenedorCategorias{
display: flex;
flex-direction: row;
flex-wrap: wrap;
padding: 0%;
width: 100%;
list-style-type: none;
justify-content:space-around;
}

.liCategorias{
background-color: aliceblue;
margin-left: 10px;
margin-right: 10px;
margin-top: 17px;
padding: 10px;
border-radius: 20px;
width: 170px;
text-align: center;
}

.aCategorias{
text-decoration: none;
color: black;
}
