* {
    font-family: nunito;
}

/* <---home---> */

body {
    margin: 0%;

    padding: 0%;

    background-image: url(../img/fondo.png);

    font-style: bold;

}


header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    background-color: rgb(177, 177, 177);
    width: 100%;
    margin: 0%;
    padding: 0%;
    padding-top: 4%;
    padding-bottom: 4%;

   
}

.mainHome {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 60%;
}



.contenedorBotonesHeader {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.botonesHeader {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    padding-top: 0%;

}

.aBotonesHeader {
    display: flex;
    text-decoration: none;
    color: black;
    width: 100%;
    justify-content: center;
    border-radius: 10px;


}

.liBotonesHeader {
    display: flex;
    flex-wrap: wrap;
    width: 23%;
    text-align: center;
    height: 30px;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px rgb(0 0 0 / 22%);

}

.contenedorHeader2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    width: 58%;
    margin: 0% 0% 0%;

}

.contenedorHomeYBusqueda {
    width: 75%;
    display: flex;
    align-items: center;

}

.formulario {
    display: flex;
    width: 100%;
    justify-content: right;

}

.buscador {
    width: 90%;
    height: 20px;
    border-radius: 10px;
    border: 0px;
    height: 30px;
    box-shadow: 3px 3px rgb(0 0 0 / 22%);

}

.botonBuscar {
    display: flex;
    margin: 0%;

    margin-left: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    border: 0px;
    height: 31px;
    align-items: center;
    background-color: white;
    box-shadow: 3px 3px rgb(0 0 0 / 22%);
}


.contenedorLogo {

    display: flex;
    justify-content: center;
    width: 20%;
}

.sectionRecetas {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0%;
    padding: 0%;
}

.articleRecetas {
    display: flex;
    flex-direction: column;
    width: 15%;
    margin: 0%;
    margin-top: 2%;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.727);

}

.imgHome {
    border-radius: 10px;
}


.botonCargarMas {
    width: 15%;
    height: 60px;
    border-radius: 15px;
    background-color: white;
    margin: 5% 0% 0% 0%;
    border: 0px;
}

footer {
    background-color: rgba(131, 129, 125, 0.639);
    height: 50px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 8%;
    padding-top: 2px;
    margin-left: 30px;
    margin-right: 30px;
}

.pFooter {
    text-align: center;

}

.ppfooter {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* margin-top: 550px; */
}


/* <---detalleReceta---> */


.sectionDetalleRecetas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 1%;
    margin: 0%;
    margin-top: 2%;
    width: 80%;
    border-radius: 10px;
    font-size: 20px;
}

.articleImgReceta {
    width: 27%;
}

.imgReceta {
    width: 100%;
    margin: 0%;
    border-radius: 15px;
}

.instruccionesDetalleRecetas {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    margin: 0%;
    height: 100%;
}

.contenedorInstrucciones {
    padding-left: 2%;

}

.aa {
    margin-left: 20px;
    text-decoration: none;
    color: black;
    border-radius: 10px;
    text-align: center;
    background-color: rgba(191, 183, 183, 0.326);
    border-radius: 20px;
    padding: 5px;
}



/* <---detalleCategoria---> */

.recetasDeCategoria {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.categoria {
    background-color: rgba(191, 183, 183, 0.326);
    width: 100%;
    text-align: center;
    justify-self: center;
    margin: 0%;
    padding: 2%;
}


/*--Login--*/

.formularioLogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedorInputs {

    width: 400px;
}

.tituloInputs {
    margin: 0%;
    margin-top: 20px;
    margin-bottom: 0%;
}

#email {
    width: 100%;
    margin-top: 0%;
    height: 30px;
    border-radius: 10px;
    border: 0px;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.222);
}

#contraseña {
    width: 100%;
    margin-bottom: 20px;
    height: 30px;
    border-radius: 10px;
    border: 0px;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.222);
}

.noTengoCuenta {
    margin-top: 20px;
    margin-bottom: 20px;
}

.sectionLogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 400px;
    margin-top: 130px;
    background-color: rgba(255, 255, 255, 0.588);
    border-radius: 20px;
}

.boton {
    width: 38%;
    height: 40px;
    border-radius: 10px;
    background-color: white;
    border: 0px;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.222);
}

.tituloPaginas {
    background-color: rgba(191, 183, 183, 0.326);
    text-align: center;
    justify-self: center;
    width: 100%;
    margin: 0%;
    padding: 2%;
}

/* <---register---> */
.formularioRegister {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 400px;
    margin-top: 130px;
    background-color: rgba(255, 255, 255, 0.588);
    border-radius: 20px;
}

.sectionRegister {

    width: 400px;
}

.tituloInputs {
    margin: 0%;
    margin-top: 20px;
    margin-bottom: 0%;
}

#email {
    width: 100%;
    margin-top: 0%;
}

.input-error::placeholder {
    color: red;
}

#contraseña {
    width: 100%;
    margin-bottom: 20px;
}

.terminosCondiciones {
    margin-top: 20px;
}

.avisoTerminosYcondiciones {
    color: red;
}

.boton{
    margin-bottom: 15px;
}

/* Categorias*/

.contenedorCategorias {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0%;
    width: 100%;
    list-style-type: none;
    justify-content: space-around;
}

.liCategorias {
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 17px;
    padding: 10px;
    border-radius: 20px;
    width: 170px;
    text-align: center;
}

.aCategorias {
    text-decoration: none;
    color: black;
}

.botonDetalles{
    text-decoration: none;
    color: black;
    border-radius: 10px;
    background-color: white;
    border: 0px;
    box-shadow: 3px 3px rgb(0 0 0 / 22%);
    text-align: center;
}

.nombreComida{
    text-align: center;
}

.dificultadComida{
    text-align: center;
}





@media (max-width: 420px) {
    .articleRecetas {
        width: 80%;
        margin: 0%;
        margin-top: 7%;

    }

    .botonCargarMas {
        width: 50%;
    }

    .contenedorBotonesHeader {
        width: 90%;
    }

    .botonesHeader {
        flex-direction: column;

    }

    .liBotonesHeader {
        width: 100%;
        margin-top: 2%;
    }

    .contenedorLogo {
        width: 100%;
        margin: 5% 0%;
    }

    .contenedorHeader2 {
        flex-direction: column;
        width: 90%;
        margin-bottom: 2%;
    }

    .contenedorHomeYBusqueda {
        width: 100%;
    }

    .liCategorias {
        width: 100%;
    }

    .sectionLogin {
        width: 100%;
    }

    .contenedorInputs {
        width: 80%;
    }

    .formularioLogin {
        width: 100%;
    }

    .boton {
        margin: 20px;
    }

    .sectionDetalleRecetas {
        flex-direction: column;
        padding: 1%;
        margin: 0%;
        margin-top: 20px;
        width: 93%;
    
    }

    .contenedorCategoriasDetalle{
    display: flex;
    width: 300px;
    flex-wrap: wrap;
    justify-content: space-between;
    }

    .aa{
    margin: 0%;
    margin-bottom: 10px;
    }
    .articleImgReceta {
        width: 80%;
        margin: 5%;
    }

    .nombreReceta {
        margin: 0%;
    }

    .categoria {
        width: 100%;
    }

    .formularioRegister {
        width: 100%;
    }
}