body {
    padding: 0%;
}


header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: green;
    padding-bottom: 2%;
}


.contenedorBotonesHeader {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.botonesHeader {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    padding-top: 2%;

}

.aBotonesHeader {
    text-decoration: none;
    color: gold;
    background-color: white;
    width: 100%;
    justify-content: center;

}

.liBotonesHeader {
    display: flex;
    flex-wrap: wrap;
    width: 23%;
    text-align: center;
}

.contenedorHeader2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 2% 0% 0%;

}

.contenedorHomeYBusqueda {
    width: 75%;
    background-color: green;
}

.tituloHeader {
    color: white;
    background-color:green;
}

.buscador {
    width: 70%;
    height: 20px;
}


.contenedorLogo {
    background-color: white;
    width: 25%;
}


footer {
    background-color:green;
}